.popup{
	z-index: 50;
	position: fixed;
	top: 2em;
	right: 2em;
	bottom: 2em;
	left: 2em;
	width: auto;
	height: auto;
	background: $orange;
	overflow-y: scroll;
	transform: scaleX(0);
	transform-origin: 0 0;
	transition: transform .5s $in-expo .4s;

	&-content{
		width: 100%;
		max-width: 60em;
		height: 100%;;
		margin: auto;
		padding: 2em 0;
		text-align: center;
		opacity: 0;
		transform: translateX(-2em);
		transition: transform .2s ease-in 0s, opacity .2s ease-in-out 0s;
	}

	&-title {
		margin: 0 0 1em;
		font-size: 1.4em;
		font-weight: 700;
		color: #fff;
	}

	&._active {
		transform: scale(1);
		transition: transform 1s $out-expo 0s;

		& .popup-content {
			opacity: 1;
			transform: translateX(0);
			transition: transform .3s ease-out .7s, opacity .4s ease-in-out .7s;
		}
	}
}

