<div class="service-container">
  <div class="service-banner gradient">   
    <h2 class="service-title">A propos de Sherbim</h2>
  </div>
  <div class="service-content">
  	<div class="main-content">
  		<h2 class="main-title">Sherbim, qu'est-ce que c'est ?</h2>
   		<p>Shërbim est une plate-forme où vous pouvez demander et rendre service. Votre temps et vos compétences sont la seule monnaie d’échange!</p>

			<p>Vous souhaitez transporter un colis fragile entre Bordeaux et Paris? Trouver quelqu’un pour aider grand mère à porter ses courses? Apprendre l’italien autour d’un café? Demandez de l’aide sur Shërbim!</p>

			<p>Une fois le service rendu, transmettez un code aux participants pour qu’ils puissent récupérer leurs points Bims. Pour en regagner, vous pourrez chercher un acte bénévole en fonction de votre géolocalisation, de vos disponibilités et de vos envies.</p>

			<p>Pour soutenir ce projet social et nous aider à le développer, vous avez la possibilité de faire un don*.</p>  
		</div>  
  </div>
</div>