var map;
var markers = [];
var infowindow = [];
var marker = [];
var infoWindows = [];

var image = new google.maps.MarkerImage(
    '<%= asset_path("map-picker.svg") %>',
    null,
    null,
    null,
    new google.maps.Size(22, 30)
);


function clearOverlays() {
  for (var i = 0; i < markers.length; i++ ) {
    markers[i].setMap(null);
  }
  markers.length = 0;
}

function showMarkers(id) {

  var geocoder = new google.maps.Geocoder();
	if (typeof id === 'undefined') { id = 0; }
	if(typeof markers !== 'undefined') { clearOverlays(); }
  var addr = $('#map').data('id');
  if(addr === undefined) {
    addr = '/services.json';
  } else {
    addr = '/services/'+addr+'.json'
  }
  $.getJSON(addr,function(data){
    console.log(data);
    if(data.length === 'undefined') {
      var contentString = '<div id="content">'+
            '<div id="siteNotice">'+
            '</div>'+
              '<div class="map-content">'+
                '<h2>'+data.title+'</h2>'+
                '<h3 style=" font-size: 14px; margin: 6px 0px;">'+data.place+'</h3>'+
                '<hr style="border-color: #999;margin:10px 0px;width:20%;">'+
                '<div id="bodyContent">'+
                '<p>'+data.description+'</p>'+
        '<a href="/services/'+data.id+'">'+
            'Voir en détail'+
        '</div>'+
            '</div>'+
            '</div>';
      geocoder.geocode( { 'address': data.place}, function(results, status) {
          var location = results[0].geometry.location;
          var latitude = location.lat(); 
          var longitude = location.lng();
            
          var infowindow = new google.maps.InfoWindow({
            content: contentString
          });
          infoWindows.push(infowindow);


          var marker = new google.maps.Marker({
            position: {lat : latitude, lng : longitude},
            map: map,
            title: data.title,
            icon: image,
            animation : google.maps.Animation.DROP,
          });
            marker.addListener('click', function() {
                for (var i=0;i<infoWindows.length;i++) {
                    infoWindows[i].close();
                }
                infowindow.open(map, marker);
          
          });
          markers.push(marker);


            });
    } else {

    $.each( data, function( key, val ) {
        
        var contentString = '<div id="content">'+
            '<div id="siteNotice">'+
            '</div>'+
              '<div class="map-content">'+
                '<h2>'+val.title+'</h2>'+
                '<h3 style=" font-size: 14px; margin: 6px 0px;">'+val.place+'</h3>'+
                '<hr style="border-color: #999;margin:10px 0px;width:20%;">'+
                '<div id="bodyContent">'+
                '<p>'+val.description+'</p>'+
        '<a href="/services/'+val.id+'">'+
            'Voir en détail'+
        '</div>'+
            '</div>'+
            '</div>';
            console.log(val);
          geocoder.geocode( { 'address': val.place}, function(results, status) {
          var location = results[0].geometry.location;
          var latitude = location.lat(); 
          var longitude = location.lng();
            
          var infowindow = new google.maps.InfoWindow({
            content: contentString
          });
          infoWindows.push(infowindow);


          var marker = new google.maps.Marker({
            position: {lat : latitude, lng : longitude},
            map: map,
            title: val.title,
            icon: image,
            animation : google.maps.Animation.DROP,
          });
            marker.addListener('click', function() {
                for (var i=0;i<infoWindows.length;i++) {
                    infoWindows[i].close();
                }
                infowindow.open(map, marker);
          
          });
          markers.push(marker);


        });
      });
    }
  });
}
function initMap() {
  var addr = $('#map').data('id');
  if(addr === undefined) {
    drag = true;
  } else {
    drag = false;
  }
var style = [{"featureType":"landscape","stylers":[{"saturation":-100},{"lightness":65},{"visibility":"on"}]},{"featureType":"poi","stylers":[{"saturation":-100},{"lightness":51},{"visibility":"simplified"}]},{"featureType":"road.highway","stylers":[{"saturation":-100},{"visibility":"simplified"}]},{"featureType":"road.arterial","stylers":[{"saturation":-100},{"lightness":30},{"visibility":"on"}]},{"featureType":"road.local","stylers":[{"saturation":-100},{"lightness":40},{"visibility":"on"}]},{"featureType":"transit","stylers":[{"saturation":-100},{"visibility":"simplified"}]},{"featureType":"administrative.province","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"labels","stylers":[{"visibility":"on"},{"lightness":-25},{"saturation":-100}]},{"featureType":"water","elementType":"geometry","stylers":[{"hue":"red"},{"lightness":-25},{"saturation":-97}]}];
  map = new google.maps.Map(document.getElementById('map'), {
    center: {lat : 46.3390728,lng :1.143419},
    zoom: 6,
 	  draggable: drag,
    styles: style,
    mapTypeControl: true,
    scrollwheel: drag,
    scaleControl: drag,
    scrollwheel: drag,
  });
  showMarkers();

}
google.maps.event.addDomListener(window, "load", initMap);
$(document).on('click','#place',function(){
  $('.heading-content').fadeOut();
  $('.heading-map').toggleClass('hide-af');
  setTimeout(function(){
    $('.heading-map').toggleClass('remove-af');
  })
})