Bonjour <%= @user.name %>,<br>

Super, un utilisateur souhaite vous aider par rapport à votre demande de service " <%= @service.title %> " <br>

Allez vite lui répondre <a href="http://<%= Rails.root %>/users/<%= @service.user.id %>">à cette adresse </a>

<br>
Bonne journée