<h1>Salut <%= @user.name %></h1>
<p>Bienvenue chez Sherbim !<br>
On espère que tu trouveras de quoi rendre service et t'amuser chez nous !</p>
<p>À <strong>bientôt *</strong> chez nous !</p>
<br>
<p>*On sait qu'on doit plus utiliser les accents circonflexes mais on trouve ça cool.
<br>
Bisous, l'équipe Sherbim
</p>
