/////////////////////////////////////////////
// Homepage

.home-heading {
	display: block;
	height: 100%;
}

.heading-map {
	width: 100%;
	height: 100%;	

	&:after {
		content:"";		
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 100%;
		height: 100%;
		background: $orange;
		background: linear-gradient(to bottom, $orange, #fd3f59);
		opacity: .3;
	}
}

.heading-content {
	z-index: 20;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	max-width: 1180px;
	transform: translate(-50%, -50%);
}

.heading-title {
	max-width: 25em;
	margin: 0 0 .5em;
	font-size: 2em;
	font-weight: 700;
	color: #fff;
	text-align: left;	
}

.heading-input_container {
}

.heading-input {
	width: 20em;
	padding: 1em;
	border: .15em solid transparent;
	transition: border-color .2s ease-in-out;

	&:focus {
		border-color: $orange;
	}
}

.heading-label {
	position: absolute;
	top: 50%;
	left: 1.5em;
	font-size: .8em;
	font-weight: 400;
	color: #bbb;
	transform: translateY(-50%);
}

.service-container {
	background-color: #eee;
}

// Ask a service btn
.btn-ask {
	z-index: 100;
	position: fixed;
	top: 50%;
	left: 0;
	background-color: $orange;
	transform: translateY(-50%);

	&._active {
		background: darken($orange, 12.5%);			
	}

	&:hover {
		background: darken($orange, 12.5%);

		.btn-ask_icon {

			&:before {
				transform: translate(-50%,-50%) rotate(-180deg) scale(1.2);
				transition: transform .3s ease-in-out;
			}

			&:after {
				transform: translate(-50%,-50%) rotate(-360deg) scale(1.2);
				transition: transform .3s ease-in-out;
			}
		}
	
		.btn-ask_text {
			opacity: 1;
			transform: translateX(0) scaleX(1);
			transition: transform .3s $out-expo, opacity .2s ease-in;
		}
	}
}

.btn-ask_icon {
	display: block;
	width: 5em;
	height: 5em;
	line-height: 5em;
	color: #fff;

	opacity: 1;
	transition: background .2s ease-in-out;

	&:before,
	&:after {
		content:"";
		position: absolute;
		top: 50%;
		left: 50%;;
		width: 1em;
		height: .15em;
		background-color: #fff;
		transform: translate(-50%,-50%);
		transition: transform .2s ease-in-out;
	}

	&:after {
		transform: translate(-50%,-50%) rotate(-90deg);
	}

	._active & {

		&:before {
			transform: translate(-50%,-50%) rotate(-135deg) scale(1.2);
			transition: transform .3s ease-in-out;
		}

		&:after {
			transform: translate(-50%,-50%) rotate(-225deg) scale(1.2);
			transition: transform .3s ease-in-out;
		}
	}
}

.btn-ask_text {
	z-index: 99;
	position: absolute;
	top: 0;
	left: 5em;	
	display: block;
	width: 5em;
	height: 5em;
	color: #fff;
	background-color: darken($orange, 5%);

	opacity: 0;
	transform: translateX(-1em) scaleX(.25);
	transform-origin: 0 0;
	transition: transform .2s $in-expo, opacity .2s ease-in;

	span {
		position: absolute;
		top: 50%;
		left: 0;
		display: inline-block;
		width: 100%;
		padding: 0 .5em;
		font-size: .8em;
		text-align: center;
		transform: translateY(-50%);
	}

	.ask {
		opacity: 1;
		transition: opacity .3s ease-in-out .6s;
	}

	.cancel {
		opacity: 0;
		transition: opacity .2s ease-in-out .2s;
	}

	._active & {
		background-color: darken($orange, 8%);
		transition: background .3s ease-in;
		
		.ask {
			opacity: 0;
			transition: opacity .2s ease-in-out;
		}

		.cancel {
			opacity: 1;
			transition: opacity .3s ease-in-out .3s;
		}
	}
}

// Filters
.filters {	
	height: 4em;
	margin-top: -4em;
	line-height: 4em;
	background-color: #FFF;
}

.category-list {
	margin-bottom: 0;
	line-height: inherit;
	font-size: 1em;

	li {
		display: inline-block;
		font-size: .8em;
	}
}

// Services list
.service-title {
	margin: 0 0 1em;
	font-size: 1.4em;
	font-weight: 700;
	text-align: center;
}

.service-list {
	padding-top: 4em;
	clear: both;
	overflow: hidden;	
}

.service-item {
	float: left;
	width: 33.333%;
	margin-bottom: 2em;

	&:nth-child(3n+1) {
		clear: left;
	}

	@media (max-width: 980px) {
		width: 50%;

		&:nth-child(3n+1) {
			clear: none;
		}

		&:nth-child(2n+1) {
			clear: left;
		}
	}

	@media (max-width: 769px) {
		width: 100%;
		clear: none;
	}
}

.service-fig {
	display: block;
	width: 100%;

	img {
		display: block;
		width: 100%;
		height: auto;
	}
}

.service-item_content {
	padding: 1.5em 2em;
	background-color: #fff;
}

.service-item_title {
	display: block;
	margin: 0;
	font-size: 1.4em;
	font-weight: 700;
	text-align: left;
}

.service-points {
	position: absolute;
	top: 0;
	right: 0;
	display: block;	
	padding: 1em;
	font-weight: 700;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	background-color: darken($orange, 15%);
	border-radius: 0 0 0 2em;

	.number {
		display: block;
		font-size: 2em;		
	}
}

.service-link {
	z-index: 1;
	display: block;
	max-width: 14em;
	margin: 1em auto 0;
	padding: 1em;
	font-size: 1em;
	font-weight: 700;
	color: #fff;
	text-align: center;
	background-color: $orange;
	border-radius: 2em;

	transition: background .2s ease-in-out;

	&:before {
		content:"";
		z-index: -1;
		position: absolute;
		bottom: 0;
		left: 0;
		display: block;
		width: 100%;
		height: 100%;
		max-height: .2em;
		background-color: darken($orange, 12.5%);
		transition: max-height .2s ease-in;
	}

	&:hover {
		background-color: $orange;
		text-decoration: none;

		&:before {
			max-height: 100%;
			transition: max-height .2s ease-out;
		}
	}

	&:visited {
		color: #fff;
	}
}

// Category list
.service-categories {
	margin: .5em 0 1em;
	text-align: left;	
	color: #cecccc;

	li {
		display: inline-block;
		padding: .2em .5em;
		border: 1px solid #cecccc;
		border-radius: 1em;
	}
}

// Details list
.detail-list {
}