/////////////////////////////////////////////
// Homepage

.home-heading {
	display: block;
	height: 70vh;
}

.heading-map {
	width: 100%;
	height: 100%;	

	&:after {
		content:"";		
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 100%;
		height: 100%;
		background: $orange;
		background: linear-gradient(to bottom, $orange, $fushia);
		opacity: .3;
	}
}

.heading-content {
	z-index: 20;
	position: absolute;
	top: calc(50% - 2em);
	left: 50%;
	width: 100%;
	max-width: 1180px;
	transform: translate(-50%, -50%);
}

.heading-title {
	max-width: 18em;
	margin: 0 0 .5em;
	font-size: 1.6em;
	font-weight: 700;
	color: #fff;
	text-align: left;	
}

.heading-input_container {
	display: block;
}

.heading-input {
	width: 20em;
	padding: .5em;
	border: .15em solid transparent;
	border-radius: 2em;
	transition: border-color .2s ease-in-out;

	&:focus {
		border-color: $orange;
	}
}

.heading-label {
	position: absolute;
	top: 50%;
	left: 1.5em;
	font-size: .8em;
	font-weight: 400;
	color: #bbb;
	transform: translateY(-50%);
}

.service-container {
	background-color: #eee;
	&.user {
		padding : 1em;
	}
}

// Ask a service btn
.btn-ask {
	z-index: 100;
	position: fixed;
	top: 50%;
	left: 0;
	background-color: $orange;
	transform: translateY(-50%);

	&._active {
		background: darken($orange, 12.5%);			
	}

	&:hover {
		background: darken($orange, 12.5%);

		.btn-ask_icon {

			&:before {
				transform: translate(-50%,-50%) rotate(-180deg) scale(1.2);
				transition: transform .3s ease-in-out;
			}

			&:after {
				transform: translate(-50%,-50%) rotate(-360deg) scale(1.2);
				transition: transform .3s ease-in-out;
			}
		}
	
		.btn-ask_text {
			opacity: 1;
			transform: translateX(0) scaleX(1);
			transition: transform .3s $out-expo, opacity .2s ease-in;
		}
	}
}

// Filters
.filters {	
	display: table;
	width: 100%;
	height: 4em;
	margin-top: -4em;
	background-color: #FFF;
}

.category-list {
	display: table-cell;
	vertical-align: middle;
	padding: 0 1em;
	line-height: inherit;

	li {
		display: inline-block;
		margin-right: .5em;
		font-size: .8em;
		transition: all .2s ease-in-out;

		&:last-child {
			margin-right: 0;
		}

		.icon {
			padding-right: .5em;
		}

		a {
			display: inline-block;
			height: 2em;
			padding: 0 .7em;
			line-height: 2em;
			color: $grey-light;
			border: 1px solid $grey-light;
			border-radius: 2em;
			transition: all .2s ease-in-out;

			&:hover {
				color: inherit;
				text-decoration: none;
				border-color: $black;
			}
		}
	}
}

// Services list
.service-title {
	margin: 0 0 1em;
	font-size: 1.4em;
	font-weight: 700;
	text-align: center;
}

.service-list {
	padding-top: 2em;
	clear: both;
	overflow: hidden;	
}

.service-item {
	float: left;
	width: 33.333%;
	margin-bottom: 2em;

	&:nth-child(3n+1) {
		clear: left;
	}

	@media (max-width: 980px) {
		width: 50%;

		&:nth-child(3n+1) {
			clear: none;
		}

		&:nth-child(2n+1) {
			clear: left;
		}
	}

	@media (max-width: 769px) {
		width: 100%;
		clear: none;
	}
}

.service-icon {
	display: block;
	width: 100%;
  height: 8em;
  color: #fff;
  text-align: center;
  background-color: $fushia;

  .icon {
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	font-size: 3em;
  	transform: translate(-50%,-70%);
  }

  .service-category {
  	position: absolute;
  	bottom: 1em;
  	left: 50%;
  	display: inline-block;
  	padding: .3em .7em;
  	font-size: .7em;
  	color: #fff;
		border: 1px solid #fff;
		border-radius: 2em;
		transform: translateX(-50%);
		transition: all .2s ease-in-out;

		&:hover {
			text-decoration: none;
		}
  }
}

.service-item_content {
	padding: 1em;
	background-color: #fff;
}

.service-item_title {
	display: block;
	margin: 0 0 .5em;
	font-size: 1.2em;
	font-weight: 700;
	text-align: left;
}

.service-item_points {
	position: absolute;
	top: 0;
	right: 0;
	display: block;	
	padding: .5em 1em;
	font-weight: 700;
	color: #fff;
	text-align: center;
	background-color: darken($orange, 12.5%);
	transform: translateY(-100%);

	.number {
		display: block;
		font-size: 2em;		
	}
}

.service-link {
	z-index: 1;
	display: block;
	max-width: 14em;
	margin: 1em auto 0;
	padding: 1em;
	font-size: .8em;
	font-weight: 700;
	color: #fff;
	text-align: center;
	background-color: $orange;
	border-radius: 2em;
	overflow: hidden;

	transition: background .2s ease-in-out;

	&:before {
		content:"";
		z-index: -1;
		position: absolute;
		bottom: 0;
		left: 0;
		display: block;
		width: 100%;
		height: 100%;
		max-height: .2em;
		background-color: darken($orange, 12.5%);
		transition: max-height .2s ease-in;
	}

	&:hover {
		background-color: $orange;
		color: #fff;
		text-decoration: none;

		&:before {
			max-height: 100%;
			transition: max-height .2s ease-out;
		}
	}
}

// Category list
.service-categories {
	margin: .5em 0 1em;
	text-align: left;	
	color: #cecccc;

	li {
		display: inline-block;
		padding: .2em .5em;
		border: 1px solid #cecccc;
		border-radius: 1em;
	}
}

// Details list
.detail-list {
}

.detail-item {
	padding: .2em 0;
	font-size: .8em;

	.icon {
		width: 1.25em;
		color: $orange;
	}
}

// User info
.user-info {
	margin: 1em 0;

	img {
		width: 30%;
		height: auto;
	}
}

.user-name {
	padding-left: .5em;
}