// Place all the styles related to the services controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.service-container {
	min-height: 100%;
}

.service-banner {
	padding: 2em 2em 3em;
	background: $rgba($orange, .5);
	background: linear-gradient(to bottom, rgba($orange, .5), rgba($fushia, .5));
	text-align: center;

	.icon-category {
		top: -1em;
		display: inline-block;
		width: 2em;
		height: 2em;
		line-height: 2em;
		color: #fff;
		border: .15em solid #fff;
		border-radius: 50%;
	}
}

.service-title {
	margin: 0 0 .5em;
	font-size: 1.6em;
	font-weight: 700;;
	color: #fff;
}

.service-state {
	color: #fff;
	text-align: center;	

	a {
		color: #fff;
		text-decoration: underline;
		transition: opacity .2s ease-in-out;

		&:hover {
			opacity: .6;
		}
	}
}

.service-details {
	max-width: 20em;
	margin: 2em auto 0;	
	color: #fff;
	text-align: center;

	li {
		display: inline-block;		
		font-size: .8em;

		&:nth-child(2) {
			margin: 0 4em;;
		}
	}
}

.service-points {
	z-index: 10;
	position: absolute;
	bottom: -1.5em;
	left: calc(50% - 5em);
	display: block;
	width: 10em;
	height: 3em;
	margin: auto;
	line-height: 3em;
	color: $black;
	text-align: center;
	background-color: #fff;
	border-radius: 2em;

	span {

	}
}

.service-map {
	width: 100%;
	height: 20em;
}

.service-enquire {
	width: 100%;
	overflow: hidden;
}

.enquire-fig {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	height: auto;
	width: 30%;
	overflow: hidden;

	img {
		width: 100%;
		min-width: 100%;
		height: auto;
	}
}

.enquire-container {
	float: right;
	width: 70%;
	padding: 3em 2em 2em;
}

.enquire-name {
	margin: 0;
}

.enquire-btn_container {
	margin-top: 2em;
	overflow: hidden;
}
.button_to {
	display: inline-block;
	margin-left: 1em;
}

.enquire-btn,
.button_to input {
	display: inline-block;
	padding: .5em 1em;
	font-size: .8em;
	color: #fff;
	background: none;
	border: .15em solid $grey-light;
	border-radius: 2em;

	&:hover {
		color: #fff;
		text-decoration: none;
	}

	&.modify {
		color: $grey-light;
		border-color: $grey-light;
	}

	&[type="submit"] {
		color: darken($orange, 12.5%);
		border-color: darken($orange, 12.5%);
	}
}