// Place all the styles related to the services controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.service-container {
	min-height: 100%;
}

.service-banner {
	padding: 4em 2em 3em;
	background: rgba($orange, .5);
	background: linear-gradient(to bottom, rgba($orange, .5), rgba($fushia, .5));
}

.service-title {
	margin: 0 0 .5em;
	font-size: 1.6em;
	font-weight: 700;;
	color: #fff;
}

.service-state {
	color: #fff;
	text-align: center;	

	a {
		color: #fff;
		text-decoration: underline;
		transition: opacity .2s ease-in-out;

		&:hover {
			opacity: .6;
		}
	}
}

.service-content {}

.service-details {
	margin-top: 2em;	
	color: #fff;
	text-align: center;

	li {
		display: inline-block;		
		font-size: .8em;

		&:nth-child(2) {
			margin: 0 4em;;
		}
	}
}

.service-points {
	position: absolute;
	bottom: -1.5em;
	left: calc(50% - 5em);
	display: block;
	width: 10em;
	height: 3em;
	margin: auto;
	line-height: 3em;
	color: $black;
	text-align: center;
	background-color: #fff;
	border-radius: 2em;

	span {

	}
}

.service-description {}