// Place all the styles related to the services controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.service-container {
	min-height: 100%;
}

.service-banner {
	padding: 2em 2em 3em;
	text-align: center;

	.icon-category {
		top: -1em;
		display: inline-block;
		width: 2em;
		height: 2em;
		line-height: 2em;
		color: #fff;
		border: .15em solid #fff;
		border-radius: 50%;
	}
}

.service-title {
	margin: 0 0 .5em;
	font-size: 1.6em;
	font-weight: 700;;
	color: #fff;
}

.service-state {
	color: #fff;
	text-align: center;	

	a {
		color: #fff;
		text-decoration: underline;
		transition: opacity .2s ease-in-out;

		&:hover {
			opacity: .6;
		}
	}
}

.service-details {
	max-width: 20em;
	margin: 2em auto 0;	
	color: #fff;
	text-align: center;

	li {
		display: inline-block;		
		font-size: .8em;

		&:nth-child(2) {
			margin: 0 4em;;
		}
	}
}

.service-points {
	z-index: 10;
	position: absolute;
	bottom: -1.5em;
	left: calc(50% - 5em);
	display: block;
	width: 10em;
	height: 3em;
	margin: auto;
	line-height: 3em;
	color: $black;
	text-align: center;
	background-color: #fff;
	border-radius: 2em;

	span {

	}
}

.service-description {
	max-width: 45em;
	margin: 0 auto;
	padding: 4em 0;
}

.service-enquire,
.service-map {
	display: table-cell;
	width: 50%;	
}

.enquire-fig {
	float: left;
	width: 25%;

	img {
		width: 100%;
		height: auto;
	}
}

.enquire-intro {
	float: left;
	width: 75%;
	padding: 1em 0;
	}

.enquire-name {
	margin: 0;
}